@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family: "Work Sans", sans-serif;
    margin: 0;
    padding: 0;
}
/* Sahrad style */
.disply-flex{
    display: flex;
}
.bg-light{
    background: rgba(255, 144, 14, 0.1);
}

.primary-btn{
    padding: 10px 20px;
    border-radius: 5px;
    background: rgb(255, 144, 14);
    border: none;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
}

/* header style */

/* navbar style */

.navbar{
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}
.brand{
    font-size: 2rem;
    font-weight: 700;
}
.nav-item{
    list-style: none;
}
.nav-link{
    text-decoration: none;
    margin-right: 30px;
    font-size: 16px;
    color: rgb(66, 66, 66);
}
.navbar ,.banner{
    max-width: 90vw;
    margin: 0 auto;
}

/* banner relaited style */
.banner-content{
    width: 70vw;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
}
.banner-content h1{
    font-size: 2rem;
    font-weight: bold;
}
.banner-content p{
    color: rgb(114, 114, 114);
    font-size: 16px;
    font-weight: 500;
    padding: 15px 0;
}
.banner img{
    width: 100%;
    margin-top: 50px;

}

/* Responsive navbar style */
@media screen and (max-width:576px) {
    .navbar ,.nav-links{
        flex-direction: column;
    }
}